.venv/
__pycache__/
*.pyc
*.pyo

build/
dist/

cloudgram.db
cloudgram_session.session
cloudgram_session.session-journal
cloudgram_launch.log
git_log.txt

google_credentials.json
google_token.json
telegram_api.json

main_window_old.py
old_main_window.py
